/A1/Bucles-Iteratius/TeoriaBucles/nbproject/private/
/A1/Bucles-Iteratius/TeoriaBucles/build/
/A1/Bucles-Iteratius/TeoriaBucles/dist/
/A1/Bucles-Iteratius/Ex3Bucles/nbproject/private/
/A1/Bucles-Iteratius/GenerarAleatoris/nbproject/private/
/A1/Bucles-Iteratius/GenerarAleatoris/build/
/A1/Bucles-Iteratius/GenerarAleatoris/dist/
/A2/TeoriaFuncionsMetodes/nbproject/private/
/A2/TeoriaFuncionsMetodes/build/
/A2/TeoriaFuncionsMetodes/dist/
/A1/ExamenPe1/Exercici1ExamenParellsSenars/nbproject/private/
/A1/ExamenPe1/Exercici1ExamenParellsSenars/build/
/A1/ExamenPe1/Exercici1ExamenParellsSenars/dist/
/A1/ExamenPe1_Antic/Ex1Examen/nbproject/private/
/A2/ExercicisFuncions/nbproject/private/
/A2/ExercicisFuncions/dist/
/A2/ExercicisFuncions/build/
/A2/PiedraPapelTijeras/nbproject/private/
/A2/PiedraPapelTijeras/build/
/A2/Ruleta/nbproject/private/
/A2/Ruleta/dist/
/A2/Ruleta/build/
/A2/SieteYMedio/nbproject/private/
/A2/SieteYMedio/build/
/A3/TeoriaObjectes/nbproject/private/
/A2/ExamenA2/nbproject/private/
/A2/ExamenA2/build/
/A3/TeoriaObjectes/build/
/A3/TeoriaObjectes/dist/
/A2/ExercicisPOO/nbproject/private/
/A2/ExercicisPOO/build/
/A2/ExercicisPOO/dist/
/A3/ExercicisPOO/build/
/A3/ExercicisPOO/nbproject/private/
/A3/ExercicisPOO/dist/
/A3/BioInformatica/nbproject/private/
/A3/BioInformatica/build/
/A3/BioInformatica/dist/
/A3/SubwaySurfers/nbproject/private/
/A3/SubwaySurfers/build/
/A3/SubwaySurfers/dist/
/A3/A3-2onaPart_Herencia/TeoriaHerencia/nbproject/private/
/A3/A3-2onaPart_Herencia/TeoriaHerencia/build/
/A3/A3-2onaPart_Herencia/TeoriaHerencia/dist/
